@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply duration-200;
  }
  body {
    @apply text-base font-normal leading-relaxed overflow-x-hidden;
    line-height: 1.3;
  }
  input {
    @apply outline-none;
  }
}

@layer components {
  .container {
    @apply w-full px-2 max-w-[520px] md:max-w-[700px] lg:max-w-[980px] xl:max-w-[1200px] mx-auto;
  }
  .truncate-text {
    white-space: pre-line;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .truncate-text-1 {
    @apply truncate-text;

    -webkit-line-clamp: 1;
  }
  .truncate-text-2 {
    @apply truncate-text;
    -webkit-line-clamp: 2;
  }
}
